@font-face {
    font-family: playagain;
    src: url(../../../../assets/fonts/Esportiva-8M0OM.ttf);
}

.select-skin {
    background-image: url(../../../../assets/images/b1.jpg);
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.select-skin-title {
    text-align: center;
    padding-top: 0px;
    font-family: playagain;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 20px;
    color: #b1c5ef;
}

.select-skin-card {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    margin-top: 50px !important;
}

.select-skin-card-shape {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-size: 100% 100%;
    width: 270px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    overflow: hidden;
    min-height: 440px;
    transition: 1s all;
    margin-bottom: 80px;
    border-radius: 20px;
    border: 1px solid rgb(53, 53, 53);
    box-shadow:0px 2px 8px #3478d7;
}


.slect-skin-line {
    margin-bottom: -25px;
    margin-top: 36px;
    margin-left: -40px !important;
    width: 140%;
    background-color: #3478d7;
    height: 1px;
}

.select-skin-name {
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    color: #8fb3e6;
    font-family: playagain;
    letter-spacing: 5px;
    word-spacing: 2.2px;
    margin-top: 50px;
    font-style: italic;
    text-transform: uppercase;
}

.select-skin-imgbox {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 2;
}

.select-skin-imgbox img {
    position: absolute;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    transition: transform .7s;
    z-index: 999;
    /* padding-right: 50px !important; */
}

.select-skin-imgbox:hover img {
    transform:  rotate(360deg);
}

.select-skin-button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    transition: .3s all;
}

.select-skin-button-decoration {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #0d1563, #4874b2, #6b7c93);
    border-radius: 0px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    transition: all .7s ease !important;
    background-size: 200%;
}

.select-skin-button-decoration:hover {
    background-position: right;
}


.select-skin-button a {
    text-transform: uppercase;
    color: white;
}


.select-skin-card-shape span {
    text-align: center;
}

.select-skin-card-shape span {
    position: absolute;
    display: block;
}

.select-skin-card-shape span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(90deg, transparent, #273f86);
    animation: animate1 2s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.select-skin-card-shape span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2.5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #273f86);
    animation: animate2 2s infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

.select-skin-card-shape span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(270deg, transparent, #273f86);
    animation: animate3 2s infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.select-skin-card-shape span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2.5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #273f86);
    animation: animate4 2s infinite;
    animation-delay: 1.5s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

.active-owl-skin {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 100px) and (max-width: 575.98px) {
    .select-skin-imgbox img {
        transform: scale(1.1);
    }

    .select-skin-card-shape {
        margin-bottom: 0px;
    }

    .select-skin-title{
        margin-top: 10px   ;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media (max-width: 391px) {}