.Register{
    background-image:url(../../assets/images/bgRegister.jpg);
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.Register-form-title{
    color: #4f8fe7 !important;
    font-weight: bold;
}

.Register-form form{
    width: 60%;
    margin-left: 80px;
    margin-top: 60px;
    text-align: center;
}

.Register-form  form h2{
    color: aliceblue;
    font-weight: bold;
    font-size: 35px;
}

.Register-form form p {
    color: aliceblue;
    font-weight: bold;
    font-size: 17px;

}
.Register-form .Register-form-input-box{
    margin: 20px 0;
}

.Register-form .Register-form-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}
.Register-form-link p a {
    text-decoration: none;
    font-weight:bold;
}
.Register-form-link p a:hover{
    text-decoration: underline ;
}

.Register-form button{
    width: 30%;
    font-weight: bold;
}

@media screen and (max-width:570px ) {
    .Register-form-img img{
    display: none; 
    }
    .Register{
        background-image:url(../../assets/images/bg.png);
        background-position: center center;
        background-size: 100% 100%;
        height: 100vh;
        display: block;
    }
    .Register-form form{
        width: 100%;
        margin: auto;
        margin-top: 70px !important;
    }
}



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {

    .Register-form-img img{
        display: none; 
        }

    .all-the-form-register{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .Register {
        padding-bottom: 90px;
        height: fit-content;
    }

    .Register-form form{
        width: 100%;
        margin: auto;
        margin-top: 70px !important;
    }
    

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .Register-form-img img{
        display: none; 
        }
    .Register {
        padding-bottom: 20px;
        height: fit-content;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .Register-form-img img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Register-form{
        width: 50% !important;
    }
    .Register-form form {
        width: 90%;
        margin-left: 0px;
        margin-top: 70px;
    }
    .Register-form-img {
        margin-left: 50px;
        margin-top: 130px !important;
    }

    .Register-form form{
        padding-bottom: 40px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .Register-form-img {
        margin-top: 130px !important;
    }
    .Register-form form {
        padding-bottom: 15px;
    }
}
