.Register{
    background-image:url(../../assets/images/bgRegister.jpg);
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.Register-form-title{
    color: #4f8fe7 !important;
    font-weight: bold;
}

.Register-form form{
    width: 60%;
    margin-left: 80px;
    margin-top: 60px;
    text-align: center;
}

.Register-form  form h2{
    color: aliceblue;
    font-weight: bold;
    font-size: 35px;
}

.Register-form form p {
    color: aliceblue;
    font-weight: bold;
    font-size: 17px;

}
.Register-form .Register-form-input-box{
    margin: 20px 0;
}

.Register-form .Register-form-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}
.Register-form-link p a {
    text-decoration: none;
    font-weight:bold;
}
.Register-form-link p a:hover{
    text-decoration: underline ;
}

.Register-form button{
    width: 30%;
    font-weight: bold;
}

@media screen and (max-width:570px ) {
    .Register-form-img img{
    display: none; 
    }
    .Register{
        background-image:url(../../assets/images/bg.png);
        background-position: center center;
        background-size: 100% 100%;
        height: 100vh;
        display: block;
    }
    .Register-form form{
        width: 90%;
        margin: auto;
        margin-top: 150px;}
}

