

.games{
    background-image: url(../../assets/images/body_bg.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.games-text{
     margin-top: 90px !important; 
}
.games-text h1 {
    font-size: 65px;
    font-family:serif;
    font-weight: bold;
}

.games-text h1 {
    font-size: 65px;
    font-family:serif;
    font-weight: bold;
}
.games-text button {
    margin-top: 30px;
    padding:12px 30px;
    font-weight: bold;
}
.item{
    cursor: pointer;
    position: relative;
    transition: .5s all !important;
}
.item h4{
    font-family:serif;
    font-weight: bold;
}
.owl-next{
    padding: 20px !important;
}
.button.owl-next{
    padding: 15 !important;
}
.item .gameskin{
    width: 100%;
    height: 370px;
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top: 45px;
    display: none;
}
.gameskin i {
    margin-top: 150px;
    transition: .3s all;
}
.gameskin i:hover{
   color: #4455ed;
}
.item:hover{
    .gameskin{
        display: block;
    }
}
@media screen and (max-width: 570px) {

    .games{
        background-image: url(../../assets/images/body_bg.png);
        height: 102vh;
        display: block;
    }
    .games-text h1 {
        font-size: 35px;
        font-family:serif;
        font-weight: bold;
    }
    .games-text button {
        margin-top: 30px;
        padding:6px 15px;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .item img {
        height: 270px !important;
    }

}