/** @format */

.game-section-games {
    background-image: url(../../assets/images/body_bg.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carsoul-games-text {
    margin-top: 90px !important;
}

.lets-play {
    width: 80%;
}

.carsoul-games-button {
    opacity: 0;
    transform: translateY(150%);
    transition: all 1.5s ease-in;
}

.carsoul-games-text h1 {
    font-size: 75px;
    font-family: serif;
    font-weight: bold;
}

.carsoul-games-h1 {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.5s ease-in;
}

.owl-theme-animation {
    opacity: 0;
    transform: translateX(20%);
    transition: all 1.5s ease-in;
    overflow-x: hidden !important;
}



.animation-effect {
    opacity: 4;
    transform: translateX(0);
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.carsoul-games-text button {
    margin-top: 30px;
    padding: 12px 30px;
    font-weight: bold;
    /* animation: slideTop 1.3s ease-in-out forwards;
    animation-delay: 0; */
}

/* .carsoul-games-button{
    opacity: 0;
    transform:  translateY(-100%);
    transition:  all 1s ease-in;
} */

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.item-owl-carsoual {
    cursor: pointer;
    position: relative;
    transition: 0.5s all !important;
}

.item-owl-carsoual h4 {
    font-family: serif;
    font-weight: bold;
}

.owl-next {
    padding: 20px !important;
}

.button.owl-next {
    padding: 15 !important;
}

.item-owl-carsoual .game-skin-carsoul {
    width: 100%;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45px;
    display: none;
}

.game-skin-carsoul i {
    margin-top: 150px;
    transition: 0.3s all;
}

.game-skin-carsoul i:hover {
    color: #4455ed;
}

.item-owl-carsoual:hover {
    .game-skin-carsoul {
        display: block;
    }
}

.img-carsoul {
    height: 370px;
}














/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .game-section-games {
        background-image: url(../../assets/images/body_bg.png);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .carsoul-games-text {
        margin-top: 100px !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px !important;

    }

    .lets-play {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px !important;
    }

    .carsoul-games-text h1 {
        font-size: 35px;
        font-family: serif;
        font-weight: bold;
    }

    .carsoul-games-text button {
        margin-top: 30px;
        padding: 6px 15px;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .item-owl-carsoual img {
        height: 270px !important;
    }

    .item-owl-carsoual .game-skin-carsoul {
        width: 100%;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        display: block;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .item-owl-carsoual .game-skin-carsoul {
        width: 100%;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        display: block;
    }

    .game-section-games {
        background-image: url(../../assets/images/body_bg.png);
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .item-owl-carsoual .game-skin-carsoul {
        top: 42px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .item-owl-carsoual .game-skin-carsoul {
        width: 100%;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        display: block;
    }

    .game-section-games {
        background-image: url(../../assets/images/body_bg.png);
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .item-owl-carsoual .game-skin-carsoul {
        top: 42px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .item-owl-carsoual .game-skin-carsoul {
        width: 100%;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        display: block;
    }

    .item-owl-carsoual .game-skin-carsoul {
        top: 42px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */