@font-face {
    font-family: playagain;
    src: url(../../../../assets/fonts/Esportiva-8M0OM.ttf);
}

.buyskins-container{
    background-image: url(../../../../assets/images/b1.jpg) ;
    background-position: center center ;
    background-size: 100% 100%;
    padding-top:80px ;
    min-height: 100vh;
}
.lockedskin{
    width: 280px;
    height: fit-content;
    background-color: transparent !important;
    text-align: center;
    border: 1px transparent(180, 179, 179) solid !important;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;  
    position: relative;
}

.the-lock-card-conatier{
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-size: 100% 100%;
    width: 300px;
    padding: 40px; 
    border-radius: 10px;
    position: relative;
    transition: .3s;
    overflow: hidden;
    height: 425px;
    box-shadow: 0px 5px 8px 5px rgba(255, 255, 255, 0.5); 
    transition: 1s all;
    margin: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.imgbox-lock{
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 2;
}

.plane-lock-card-img{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .7s; 
    z-index: 999;
    margin-top: 40px;
}
.lock-icon-skin{
    position: absolute;
    top: 10%;
    right: 22%;
    font-size: 180px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    cursor: pointer;
    margin-top: 10px;
}

.the-lock-card-conatier .title {
    font-size: 2.2em;
    font-weight: 700;
    text-align: center;
    color: #4d8ee8;
    font-family: playagain;
    letter-spacing: 5px;
    word-spacing: 2.2px;
    margin-top: 40px;
    font-style: italic;
    width: 240px;
    text-transform: uppercase;
  }


  .locked-price{
      font-size: 25px;
      color: #5783c0;
  }

  .buy-now a {
      color: white;
      text-decoration: none;
  }

  .buysection-lock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
/* .lockedskin img{
    width: 100%;
}
.lockedskin h4{
    text-decoration: none;
    font-size: 40px !important;
    color: rgb(177, 197, 239);
}
.lockedskin a{
    text-decoration: none;
}   
.lockedskin img{
    margin-top: 40px;
    z-index:-1 ;
}
.alert-buy{
    z-index: 999;
}
.locked-title{
    margin-top: -15px;
}
.main-title-skins{
    color: #3478d7;
    font-family: playagain;
    padding-top: 0px !important;
    margin: 20px 0px 30px 0px;
    font-size: 60px;
    text-transform:uppercase;
}
.locked-skins-contanier{
    padding-bottom: 50px;
    padding-top: 0px;
}

.buy-now a {
    color: #fff;
} */