@font-face {
    font-family: playagain;
    src: url(../../../../assets/fonts/Esportiva-8M0OM.ttf);
}

.selectskins-container{
    background-image: url(../../../../assets/images/b1.jpg) ;
    background-position: center center ;
    background-size: 100% 100%;
    padding-top:80px ;
    min-height: 100vh;

}
.title-skins-locked{
    text-align: center;
    padding-top: 0px;
    font-family:playagain ;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 20px;
    color: #b1c5ef;
}
.cards-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    margin-top: 50px !important;
    margin-bottom: 150px !important;
}
.cardSkin{
    width: 285px;
    height: 350px;
    background-color: transparent !important;
    text-align: center;
    border: 1px transparent(180, 179, 179) solid !important;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;
}
.cardSkin img{
    width: 100%;
    transition: 1.0s;
}
.cardSkin img:hover{
    transform: rotate(360deg) scale(1.9);
}
.cardSkin h4{
 text-decoration: none;
 font-size: 40px !important;
 color: rgb(177, 197, 239);
}
.cardSkin a{
    text-decoration: none;
}

.play-now a {
    color: white;
}

