* {
    scroll-behavior: smooth;
}
.hero-section {
    background-image: url(./../../img/home/slider-bg-2.jpg);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.container {
    color: white;
    text-align: center;
}
.hero-section h2 {
    font-size: 120px ;
}
.hero-section p {
    font-size: 18px;
}
.hero-section a {
    text-decoration: none;
}
