@font-face {
    font-family: playagain;
    src: url(../../assets/fonts/Esportiva-8M0OM.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .MainMenu{
   overflow-x: hidden;
   height: 100vh;
   
} 


.video-background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 99vh;
    overflow: hidden !;
    z-index: -9999;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1{
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
    text-align: center;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0;
    text-transform: uppercase;
}

.asturant {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    animation: slideBottom 1s ease-in-out forwards, floatImage 4s ease-in-out infinite;
}


.c-button{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    border: 0;
    transition: all .7s ease !important;
    background-size: 200%;
    margin: 15px;
    width: 300px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0;
}

.c-button:hover{
    background-color: rgb(212 212 212);
    color: rgba(0, 0, 0, 0.726);
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}