@font-face {
    font-family: playagain;
    src: url(../../assets/fonts/Esportiva-8M0OM.ttf);
}

@font-face {
    font-family: glitch;
    src: url(../../assets/fonts/Jersey10Charted-Regular.ttf);
}

@font-face {
    font-family: buttonmain;
    src: url(../../assets/fonts/Arvo-Italic.ttf);
}


.main-menu {
    overflow: hidden;
    height: 100vh;
}

.main-menu-video-background {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden !;
    z-index: -9999;
    display: flex;
    justify-content: center;
    
}

.main-menu-video-background video {
    object-fit: fill;
    width: 100%;
    height: 103% !important;
}

.main-menu-asturant {
    margin-top: 90px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideRightmain 1s ease-in-out forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 0;
}

.main-menu-hero {
    margin-top: 80px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .main-menu-buttons:nth-child(1){
    animation: slideLeft 1s ease-in-out forwards;
    animation-delay: 0;
} */

.main-menu-hero h1 {
    font-family: glitch;
    font-weight: 400;
    font-style: normal;
    color: #4675cc;
    text-align: center;
    animation: slideBottommain 2s ease forwards;
    animation-delay: 0;
    text-transform: uppercase;
}



.main-menu-buttons {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #5080da;
    font-family: buttonmain;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.5s;
    overflow: hidden;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

.main-menu-buttons.first-button{
    animation: slideLeftmain 1.5s ease-in-out forwards;
    animation-delay: 0.5;
}
.main-menu-buttons.second-button{
    animation: slideLeftmain 2s ease-in-out forwards;
    animation-delay: 1;
}
.main-menu-buttons.third-button{
    animation: slideLeftmain 2.5s ease-in-out forwards;
    animation-delay: 1.5;
}

.main-menu-buttons span {
    text-align: center;
}

.main-menu-buttons:hover {
    background-color: #5b8dea;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4 0 0 200px #03e9f4;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.main-menu-buttons span {
    position: absolute;
    display: block;
}

.main-menu-buttons span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.main-menu-buttons span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

.main-menu-buttons span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.main-menu-buttons span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes slideRightmain {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeftmain {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes slideBottommain {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



  /* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .main-menu {
    background-image: url(../../assets/images/mainmenuBG2.jpeg);
    background-position: center center;
    background-size: 110% 95%;
    overflow: hidden;
    height: 100vh;
    width: 101%;
    }
    .main-menu-hero h1 {
        color: #78a2ef;
    }
    .main-menu-buttons{
        color: #78a2ef; 
        margin: 15px 0px;
    }
    .main-menu-video-background {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        overflow: hidden ;
        z-index: -9999;
    }
    .main-menu-asturant {
        display: none;
    }
    .main-menu-hero {
        padding-top: 30px;
    }
    .main-menu-hero h1 {
        font-size: 40px;
        margin-top: 0px;
    }
    .main-menu {
        background-color: rgb(209, 198, 198) !important;
    }
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-menu-asturant {
        margin-top: 10px;
    }
    
    .main-menu-hero {
        margin-top: 10px;
    }
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .main-menu {
        background-image: url(../../assets/images/mainmenuBG2.jpeg);
        background-position: center center;
        background-size: 110% 95%;
        overflow: hidden;
        height: 100vh;
        width: 101%;
        }
        .main-menu-hero h1 {
            color: #78a2ef;
        }
        .main-menu-buttons{
            color: #78a2ef; 
            margin: 15px 0px;
        }
    .main-menu-asturant {
        display: none;
        height: fit-content;
    }
    .main-menu-hero {
        margin-top: 0px;
        margin-left: 60px;
    }
    .main-menu-hero h1 {
        font-size: 40px;
        margin-top: 150px;
    }
    .main-menu-video-background {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden !;
        z-index: -9999;
    }
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-menu-asturant {
        margin-top: 10px;
    }
    
    .main-menu-hero {
        margin-top: 10px;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-menu-video-background {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden !;
        z-index: -9999;
    }
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


