/** @format */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.progress{
 margin-left: -100px;
 margin-top: -1px;
 font-weight: bold !important;
 letter-spacing: 2.5px;
  color:white;
  font-size: 15px !important;
  background-color: black !important;
}

.range {
  background-color: #a3a1a1;
  width: 200px;
  height: 18px;
  transform: skew(30deg);
  font-family: 'Orbitron', monospace;
  border: 2px white solid;
  &:before {
    --width: calc(var(--p) * 1%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #449de1;
    z-index: 0;
    animation: load .5s forwards linear, glitch 2s infinite linear;
  }
  
  &:after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }
  
  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
  }
}

@keyframes load {
  to {
    width: var(--width);
  }
}
.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 99999;
    border-bottom: 1px solid #4874b2;
}

.animation-nav {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1.5s ease-in-out;
}

.nav-animation {
    opacity: 1;
    transform: translateY(0);
}

.base-navBar {
    background-color: #0b0f18 !important ;
    color: white !important;
}
.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
.editBarnd {
    color: #216399;
}
.nav-link {
    font-size: 20px !important;
    font-family: serif !important;
    transition: all.6s !important;
}
.nav-link:hover {
    color: #4890cc !important;
    text-decoration: none;
}
.conis-xp {
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.conis {
    margin-right: 175px;
}

/* .xp {
    margin-left: 170px;
} */
.user-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;

}
.user-name {
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 22px;
    color: #449de1;
}
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-list {
    position: absolute;
    width: 120px;
    background-color: #0b0f18;
    padding: 10px;
    border-radius: 12px;
    height: fit-content;
}
.user-list li {
    margin-bottom: 10px;
    list-style-type: none;
}
.user-list a {
    text-decoration: none;
}
.logoHeader {
    width: 100%;
    margin-left: 32px;
}
.small-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: .5s all;
}
.small-link:hover{
    color: #449de1;
    font-weight: bold;
    font-size: 16px;
}
/* container-user-toggle */
 /* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 100px) and (max-width: 575.98px) {
    .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        margin-left: 25px !important;
        }
        .container-user-toggle{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .user-list {
            position: absolute;
            width: 120px;
            background-color: #0b0f18;
            padding: 10px;
            border-radius: 12px;
            height: fit-content;
            top: 60px;
        }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        margin-left: 25px !important;
        }
    .container-user-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .user-list {
        position: absolute;
        width: 120px;
        background-color: #0b0f18;
        padding: 10px;
        border-radius: 12px;
        height: fit-content;
        top: 60px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        margin-left: 25px !important;
        }
    .container-user-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-user-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .user-list {
        position: absolute;
        width: 120px;
        background-color: #0b0f18;
        padding: 10px;
        border-radius: 12px;
        height: fit-content;
        top: 60px;
    }
    .conis {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* margin-right: 200px; */
    }
    
    .xp {
        margin-right: 10px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}