/** @format */

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 99999;
    border-bottom: 1px solid #4874b2;
}
.base-navBar {
    background-color: #0b0f18 !important ;
    color: white !important;
}
.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}
.editBarnd {
    color: #216399;
}
.nav-link {
    font-size: 20px !important;
    font-family: serif !important;
    transition: all.6s !important;
}
.nav-link:hover {
    color: #4890cc !important;
    text-decoration: none;
}
.conis-xp {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.conis {
    margin-right: 175px;
}
.xp {
    margin-left: 175px;
}
.user-toggle {
    background-color: transparent;
    border: none;
}
.user-name {
    margin-left: 10px;
    text-transform: capitalize;
}
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-list {
    position: absolute;
    width: 120px;
    background-color: #0b0f18;
    padding: 10px;
    border-radius: 12px;
    height: 100px;
}
.user-list li {
    margin-bottom: 10px;
    list-style-type: none;
}
.user-list a {
    text-decoration: none;
    font-weight: 600;
}
.logoHeader {
    width: 100%;
    margin-left: 32px;
}
@media screen and (min-width: 350px) {
    .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px !important;
    }
}
