@font-face {
  font-family: playvsAI;
  src: url(../../../assets/fonts//winner.ttf);
}
.all{
    background-image: url(../../../assets/images/Human\ aware\ AI\ hero.png);
    min-height: 110vh;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .platWithAi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px; 
    font-family:'Courier New', Courier, monospace;
    padding-top: -10px;
    padding-bottom: 10px;
    margin: 45px 0px;
    padding-bottom: auto;
    color: #ffffff;
    font-weight: bold;
    font-family: playvsAI;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
  .cardsArea{
    margin: auto;
    width: 85%;
    display: flex;
    align-items: center;
    flex-wrap: wrap !important;
    justify-content: space-around;
}