.playingarea{
  background-image: url(../../assets/images/Human\ aware\ AI\ hero.png);
}
.camera{
  position: absolute;
  margin-left: auto;
  left: 0PX;
  right: 90PX;
  top: 150PX;
  text-Align: center;
  width: 500PX;
  height: 400PX;
  border-Radius:100px;
  margin-Top:60px;
  margin-Right:60px;
 
border-style: outset;
}
.canvas{
  position: absolute;
  
}
.computer{
  font-family:'glitch';
  padding-right:200px;
}
.playername{
  font-family:'glitch';
}
.yourgesture{
  font-family:'glitch';
  position: absolute;
  margin: 0px -65px;
}
.winnertext{
  font-family:'glitch';
  padding: 1px 500px;
}
.Loading-Page{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playing{
  height: 110vh;
  padding-top: 80px;
}
.players{
  display: flex;
  justify-content: space-around;
}
.player-name{
  margin-left: 100px;
}
.computer-player{
  margin-left: 60px;
  height: 450px;
}
.ailoading{
  margin-left: 150px;
  margin-top: 100px;
}
.score-window{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 50px 680px;
  font-family:'glitch';
 
  
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  position: absolute;
  font-size: 50px;
  
}
