/* @font-face {
    font-family: playagain;
    src: url(../../../../assets/fonts/Esportiva-8M0OM.ttf);
} */


.our-team {
    /* background-image: url(../../assets/images/b1.jpg); */
    background-color: #0b0f18;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 130px !important;
    overflow: hidden;
}


.title-team{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.title-team h1 {
    text-transform: uppercase;
    font-family: playagain;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    /* margin-top: 20px; */
    color: #b1c5ef;
}

.title-team p {
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    font-size: 20px;
    text-transform: uppercase;
    color: #b1c5ef;
}

.card-all-team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.card-team{
    height: 200px;
    border-radius: 50%;
    margin-right: 6px;
}

.card-team  img{
    width: 180px;
    height: fill-content;
    border-radius: 20px;
    height: 180px;
    border-radius: 50%;

}
