.our-team {
    background-color: #0b0f18;
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 150px !important;
    overflow: hidden;
    height: 83vh;
}


.title-team{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.title-team h1 {
    text-transform: uppercase;
    font-family: playagain;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #b1c5ef;
}

.title-team p {
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    font-size: 20px;
    text-transform: uppercase;
    color: #b1c5ef;
}

.card-all-team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.card-team{
    height: 200px;
    border-radius: 50%;
    margin-right: 6px;
}

.card-team  img{
    width: 180px;
    height: fill-content;
    border-radius: 20px;
    height: 180px;
    border-radius: 50%;
}


@media (min-width: 100px) and (max-width: 576px) {
    .our-team {
        background-color: #0b0f18;
        background-position: center center;
        background-size: 100% 100%;
        padding-top: 150px !important;
        overflow: hidden;
        height: fit-content;
        padding-bottom: 30px;
    }
    .title-team p {
        text-transform: uppercase;
        text-align: center;
        width: 80%;
        font-size: 20px;
        text-transform: uppercase;
        color: #b1c5ef;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .title-team p {
        text-transform: uppercase;
        text-align: center;
        width: 80%;
        font-size: 20px;
        text-transform: uppercase;
        color: #b1c5ef;
    }
    .our-team {
        background-color: #0b0f18;
        background-position: center center;
        background-size: 100% 100%;
        padding-top: 150px !important;
        overflow: hidden;
        height: fit-content;
        padding-bottom: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}
